<div class="form">
  <h1 class="title">Entries</h1>
  <h1>New Entry:</h1>

  <div class="columns">
    <div class="column is-half">
      <div class="select is-rounded full">
        <select #moles class="full" placeholder="Moles">
          <option *ngFor="let number of this.numberList" value="{{number}}">{{number}} mole(s)</option>
        </select>
      </div>
    </div>
    <div class="column is-half">
      <div class="select is-rounded full">
        <select #clientLatLngName class="full">
          <option *ngFor="let client of clients" value="{{client.lat}}:{{client.lng}}:{{client.name}}"> {{client.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="select is-rounded full">
        <select #month class="full">
          <option value="{{today | date: 'MMMM'}}">{{today | date: 'MMMM'}}</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="select is-rounded full">
        <select #year class="full">
          <option value="{{today | date: 'yyyy'}}">{{today | date: 'yyyy'}}</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>
      </div>
    </div>
  </div>

  <div class="control">
    <button class="button is-primary" (click)="this.newEntry(moles.value, clientLatLngName.value, month.value, year.value)">Submit</button>
  </div>






<div class="column">
  <h1>Entries:</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Moles</th>
          <th>Client</th>
          <th *ngIf="this.screenWidth > 1024">Lattitude</th>
          <th *ngIf="this.screenWidth > 1024">Longitude</th>
          <th>Month</th>
          <th>Year</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody *ngFor="let entry of entries">
        <tr>
          <td>{{entry.moles}}</td>
          <td>{{entry.client}}</td>
          <td *ngIf="this.screenWidth > 1024">{{entry.lat}}</td>
          <td *ngIf="this.screenWidth > 1024">{{entry.lng}}</td>
          <td>{{entry.month}}</td>
          <td>{{entry.year}}</td>
          <td (click)="this.deleteEntry(entry.$key)" class="delete">Delete</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
