<div class="logo">
  <div class="key">

    <div class="keyRow">
      <div class="phone">
      </div>
      <div class="text">
        <p>503.475.0128</p>
      </div>
    </div>

    <div class="keyRow">
      <div class="square">
      </div>
      <div class="text">
        <p>Service Area</p>
      </div>
    </div>

    <div class="keyRow">
      <div class="square" style="background-color: red">
      </div>
      <div class="text">
        <p>Moles Trapped</p>
      </div>
    </div>

  </div>
</div>
